[Desktop Entry]
Encoding=UTF-8
Name=MasterBitPOS
Comment=MasterBitPOS P2P Cryptocurrency
Comment[fr]=MasterBitPOS, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MasterBitPOS, eşten eşe kriptografik sanal para birimi
Exec=masterbitpos-qt %u
Terminal=false
Type=Application
Icon=masterbitpos128
MimeType=x-scheme-handler/masterbitpos;
Categories=Office;Finance;
